<div class="h-16 bg-indigo-500 flex items-center shadow-md">
  <div class="container flex justify-between items-center">
    <a href="/">
      <h2 class="text-base sm:text-xl lg:text-2xl uppercase text-white font-bold tracking-wider hover:text-indigo-300 transition-colors">DivByte</h2>
    </a>
    <div class="pr-2 flex gap-3 sm:gap-4 lg:gap-5">
      <a href="/dashboard">
        <i class="fa-solid fa-house text-white text-lg sm:text-xl lg:text-2xl hover:text-indigo-300 transition-colors"></i>
      </a>
      <a href="/profile/<%= user.id %>" >
        <i class="fa-solid fa-user text-white text-lg sm:text-xl lg:text-2xl hover:text-indigo-300 transition-colors"></i>
      </a>
      <!-- <div class="w-[55px] h-[55px] rounded-full overflow-hidden">
        <a href="/profile/<%= user.id %>">
          <img src="<%= user.profileImage  %> " alt="profile picture"> 
        </a>

      </div> -->
    </div>

  </div>
 
</div>