<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/login.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body class="flex flex-col justify-center body">
  <%- include ('./partials/header') %>
  <div class="mx-auto flex flex-col justify-center h-screen gap-20 container">

    
    <!-- <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1> -->
    <div class="card">
      
      <div>
        <h1 id="heading-main" class="text-center text-2xl sm:text-3xl lg:text-4xl font-semibold text-indigo-500">Sign in</h1>
  
      </div>
      <%- include ('./partials/messages') %>
            <form action="/login" method="POST" id="register" class="flex flex-col gap-4">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="input"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="input"
                  placeholder="Enter Password"
                />
              </div>
              <div class="flex justify-center">
                <button type="submit" class="btn-primary mt-3 basis-full hover:bg-indigo-400">Login</button>
              </div>
            </form>
            <p class="text-sm sm:text-xl text-center mt-1">
              No Account? <a href="/" class="link">Register here</a>
            </p>
  
  
    </div>
  </div>
  <%- include ('./partials/footer') %>
</body>
</html>
