.hidden {
  visibility: hidden;
}

.modal-container-add,
.modal-container-edit {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.modal-container-add.show,
.modal-container-edit.show {
  opacity: 1; 
  pointer-events: auto;
}

.modal {
  background-color: #fdfdfd;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.modal h3 {
  font-size: 2.6rem;
  margin-bottom: 4rem;
  margin: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal input {
  margin-bottom: 2rem;
}

.close-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.close {
  cursor: pointer;
  transition: color 200ms;
}

.close:hover {
  color: #52b788;
}

.dash-container {
  padding-top: 5rem;
}

.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.netProfit {
  font-size: 2.4rem;
}


/* TABLE */
#stockTable {
  border-collapse: collapse;
  width: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
  margin: 25px auto;
  font-size: 0.85em;
  min-width: 600px;
}

#stockTable thead tr {
  /* background-color: rgba(74, 159, 121, 0.9); */
  background-color: rgba(34,34,34,0.9);
  color: #fefefe;
  text-align: left;
  font-weight: bold;
}

#stockTable thead tr td {
  font-size: 18px;
  letter-spacing: 2px;
}

#stockTable th,
#stockTable td {
  padding: 12px 15px;
}

#stockTable tbody tr {
  border-bottom: 1px solid lightgray;
}

#stockTable tbody tr:nth-last-of-type(odd) {
  background-color: #fafafa;
}


/* STATISTICS */
#statistics {
  border: 2px solid rgba(34,34,34,0.1);
  padding: 2rem 1rem;
  border-radius: 20px;
  margin: 2rem auto;
  margin-top: 0;
  margin-bottom: 4rem;
}

#statistics h2 {
  margin-bottom: 1rem;
}
