.stock-container {
  padding-top: 6rem;
}

.ticker-image {
  max-width: 120px;
  /* height: 150px; */
}


/* Main */

.dividend-info {
  /* border: 2px solid rgba(34,34,34,0.1); */
  padding: 2rem 1rem;
  flex-basis: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.dividend-info > * {
  display: flex;
  flex-direction: column;
  
  padding: 0 1.8rem;
}
.main-info {
  flex-basis: 25%;
  text-align: center;
}

.info {
  border: 1px solid rgba(34,34,34, 0.25);
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: white;
}

.info-header {
  font-size: 1.8rem;
}

.info-data {
  font-size: 2.4rem;
}

.key-metrics {
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(34,34,34, 0.25);

  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.key-metrics h2 {
  border-bottom: 1px solid rgba(34,34,34, 0.25);
  width: 100%;
  padding: 1rem 2rem;
}
.metrics-list {
  width: 100%;
  padding: 2rem 4rem;
  margin: 0 auto;
}
.metric-item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.metrics-list .metric-item:not(:last-child) {
  border-bottom: 1px solid rgba(34,34,34, 0.25);
}

.comments {
  /* background-color: white; */
  border: 1px solid rgba(34,34,34, 0.25);
  border-radius: 20px;
  padding: 1rem 2rem;
}



/* Border styling for dividend info */
.dividend-info > *:not(:nth-child(3n)) {
  border-right: 1px solid rgba(34,34,34,0.2);
}