/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GENERAL */
body {
  font-family:'IBM Plex';
  background-color: #fafafa;
  color: #222;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  /* text-decoration: none; */
  /* color:#52b788; */
  color: #222;
}

a:hover {
  /* color:#74c69d; */
  color: #888;
}

ul {
  list-style: none;
}

input {
  height: 40px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.1);
}


/* FONTS*/
@font-face {
  font-family: IBM Plex;
  src: url(fonts/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: IBM Plex Bold;
  src: url(fonts/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: IBM Plex Semi-Bold;
  src: url(fonts/IBMPlexSans-SemiBold.ttf);
}

.weight-b {
  font-weight: bold;
}

/* TEXT */
.text-ct {
  text-align: center;
}

.sm-txt {
  font-size: 0.9em;
  color: #777;
}

.h1-large {
  font-size: 6rem;
}

.p-large {
  font-size: 3rem;
}

.txt-red {
  color: #eb2a2a;
}

.txt-green {
  color:#52b788;
}


 
/* LAYOUT */
.vh-stretch {
  height: 100vh;
}

.w-stretch {
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.box-md {
  width: 600px;
  height: 600px;
  border-radius: 2%;
}

.box-sm {
  width: 475px;
  height: 475px;
  border-radius: 2%;
}

.auto-margin {
  margin: 0 auto;
}

.errors {
  margin: -30px 0px;
  width: 80%;
  color: #e5383b;
}



/* FLEX */

.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.align-ct {
  align-items: center;
}

.justify-ct {
  justify-content: center;
}

.justify-ar{
  justify-content: space-around;
}

.gap-sm {
  gap: 2rem;
}

.gap-m {
  gap: 5rem;
}

.gap-lg {
  gap: 10rem;
}


/* STYLE */
.light-shadow {
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.1);
}

/* TABLES */
.normal-cell {
  width: 12%;
}

.wide-cell {
  width: 16%;
}


/*  COLOR */
.white {
  background-color: #fafafa;
}

/* BUTTONS */
.btn {
  border: none;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
}

.border-bl {
  border: 5px solid rgba(34, 34, 34, 0.75);
}

.btn-primary {
  /* background-color: #52b788; */
  background-color: rgba(34,34,34,0.9);;
  border: 3px solid rgba(34,34,34,0.9);;
  color: #fafafa;
  transition: background-color 200ms;
}

.btn-primary:hover {
  /* background-color: #74c69d; */
  background-color: #fafafa;
  color:rgba(34,34,34,0.9);;
  border: 3px solid black;
  
}

.btn-secondary {
  background-color: transparent;
  /* border: 2px solid #52b788; */
  border: 2px solid rgba(34,34,34,0.9);;
  transition: background-color 200ms color 200ms;
}

.btn-secondary:hover {
  /* background-color: #52b788; */
  background-color: rgba(34,34,34,0.9);;
  color: #fafafa;
}

.btn-transparent {
  background-color: transparent;
}